## BA870 - Financial Analytics
## Assignment 1
## Yilun Wang / yilun830@bu.edu

In [65]:
# Knit
!jupyter nbconvert -- to html /content/BA870_Assign1_Yilun_Wang.ipynb

[NbConvertApp] WARNING | pattern 'to' matched no files
[NbConvertApp] WARNING | pattern 'html' matched no files
[NbConvertApp] Converting notebook /content/BA870_Assign1_Yilun_Wang.ipynb to html
[NbConvertApp] Writing 357993 bytes to /content/BA870_Assign1_Yilun_Wang.html

### Part 1 - Consolidated Statement of Operation for AAPL

In [2]:
# Install necessary Python libraries
! pip install requests
! pip install beautifulsoup4

Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (2.23.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests) (1.24.3)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.7/dist-packages (4.6.3)

In [52]:
# Use the 'requests' library to download the necessary webpage from thge SEC server. 
import requests

# This header information MUST be submitted with your URL reuqest to the SEC website.
# If this header is not included or is incorrect, then you will not be abkle to download the data (it will be rejected by the SEC server).

headers = {'Host': 'www.sec.gov', 'Connection': 'close',
         'Accept': 'application/json, text/javascript, */*; q=0.01', 'X-Requested-With': 'XMLHttpRequest',
         'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36',
         }

URL1 = 'https://www.sec.gov/Archives/edgar/data/320193/000032019321000105/R2.htm'

# Get data from webpage
# include the HEADER or you might get denied

page1 = requests.get(URL1, headers=headers)

In [53]:
## Use 'Beautiful Soup' Library to implement an 'html/xml parser'
from bs4 import BeautifulSoup

soup1 = BeautifulSoup(page1.content, 'lxml')

In [54]:
# Find the tag that identify tables
Table1 = soup1.find_all('table')

# Use 'read_html' request to directly get the uncleaned table
import pandas as pd

AAPL = pd.read_html(str(Table1))[0]
AAPL

   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions  \
   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions
0                                           Net sales
1                                       Cost of sales
2                                        Gross margin
3                                 Operating expenses:
4                            Research and development
5                 Selling, general and administrative
6                            Total operating expenses
7                                    Operating income
8                         Other income/(expense), net
9            Income before provision for income taxes
10                         Provision for income taxes
11                                         Net income
12                                Earnings per share:
13                       Basic (in dollars per share)
14                     Diluted (in dollars per share)
15       Shares used in computing earnings per share:
16                                  Basic (in shares)
17                                Diluted (in shares)
18                                           Products
19                                          Net sales
20                                      Cost of sales
21                                           Services
22                                          Net sales
23                                      Cost of sales

   12 Months Ended
     Sep. 25, 2021 Sep. 26, 2020 Sep. 28, 2019
0        $ 365,817     $ 274,515     $ 260,174
1           212981        169559        161782
2           152836        104956         98392
3              NaN           NaN           NaN
4            21914         18752         16217
5            21973         19916         18245
6            43887         38668         34462
7           108949         66288         63930
8              258           803          1807
9           109207         67091         65737
10           14527          9680         10481
11        $ 94,680      $ 57,411      $ 55,256
12             NaN           NaN           NaN
13          $ 5.67        $ 3.31        $ 2.99
14          $ 5.61        $ 3.28        $ 2.97
15             NaN           NaN           NaN
16        16701272      17352119      18471336
17        16864919      17528214      18595651
18             NaN           NaN           NaN
19       $ 297,392     $ 220,747     $ 213,883
20          192266        151286        144996
21             NaN           NaN           NaN
22           68425         53768         46291
23        $ 20,715      $ 18,273      $ 16,786

In [55]:
# Clean the dollar sign, comma sign and space, then convert to float
check = AAPL.columns

AAPL[check] = AAPL[check].replace({'\$':''}, regex = True)
AAPL[check] = AAPL[check].replace({'\,':''}, regex = True)
AAPL[check] = AAPL[check].replace({' ':''}, regex = True)

AAPL

   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions  \
   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions
0                                            Netsales
1                                         Costofsales
2                                         Grossmargin
3                                  Operatingexpenses:
4                              Researchanddevelopment
5                     Sellinggeneralandadministrative
6                              Totaloperatingexpenses
7                                     Operatingincome
8                            Otherincome/(expense)net
9                 Incomebeforeprovisionforincometaxes
10                            Provisionforincometaxes
11                                          Netincome
12                                  Earningspershare:
13                           Basic(indollarspershare)
14                         Diluted(indollarspershare)
15             Sharesusedincomputingearningspershare:
16                                    Basic(inshares)
17                                  Diluted(inshares)
18                                           Products
19                                           Netsales
20                                        Costofsales
21                                           Services
22                                           Netsales
23                                        Costofsales

   12 Months Ended
     Sep. 25, 2021 Sep. 26, 2020 Sep. 28, 2019
0           365817        274515        260174
1           212981        169559        161782
2           152836        104956         98392
3              NaN           NaN           NaN
4            21914         18752         16217
5            21973         19916         18245
6            43887         38668         34462
7           108949         66288         63930
8              258           803          1807
9           109207         67091         65737
10           14527          9680         10481
11           94680         57411         55256
12             NaN           NaN           NaN
13            5.67          3.31          2.99
14            5.61          3.28          2.97
15             NaN           NaN           NaN
16        16701272      17352119      18471336
17        16864919      17528214      18595651
18             NaN           NaN           NaN
19          297392        220747        213883
20          192266        151286        144996
21             NaN           NaN           NaN
22           68425         53768         46291
23           20715         18273         16786

In [50]:
# Create another dataframe to transfer numbers into float - step 1
try1 = pd.DataFrame(AAPL.iloc[:,0])
try1

   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions
   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions
0                                           Net sales
1                                       Cost of sales
2                                        Gross margin
3                                 Operating expenses:
4                            Research and development
5                 Selling, general and administrative
6                            Total operating expenses
7                                    Operating income
8                         Other income/(expense), net
9            Income before provision for income taxes
10                         Provision for income taxes
11                                         Net income
12                                Earnings per share:
13                       Basic (in dollars per share)
14                     Diluted (in dollars per share)
15       Shares used in computing earnings per share:
16                                  Basic (in shares)
17                                Diluted (in shares)
18                                           Products
19                                          Net sales
20                                      Cost of sales
21                                           Services
22                                          Net sales
23                                      Cost of sales

In [56]:
# Create another dataframe to transfer numbers into float - step 2
try2 = AAPL.iloc[:,1:4].replace(',', '').astype(float)
try2

   12 Months Ended
     Sep. 25, 2021 Sep. 26, 2020 Sep. 28, 2019
0        365817.00     274515.00     260174.00
1        212981.00     169559.00     161782.00
2        152836.00     104956.00      98392.00
3              NaN           NaN           NaN
4         21914.00      18752.00      16217.00
5         21973.00      19916.00      18245.00
6         43887.00      38668.00      34462.00
7        108949.00      66288.00      63930.00
8           258.00        803.00       1807.00
9        109207.00      67091.00      65737.00
10        14527.00       9680.00      10481.00
11        94680.00      57411.00      55256.00
12             NaN           NaN           NaN
13            5.67          3.31          2.99
14            5.61          3.28          2.97
15             NaN           NaN           NaN
16     16701272.00   17352119.00   18471336.00
17     16864919.00   17528214.00   18595651.00
18             NaN           NaN           NaN
19       297392.00     220747.00     213883.00
20       192266.00     151286.00     144996.00
21             NaN           NaN           NaN
22        68425.00      53768.00      46291.00
23        20715.00      18273.00      16786.00

In [57]:
AAPL_final = try1.join(try2)
AAPL_final

   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions  \
   CONSOLIDATED STATEMENTS OF OPERATIONS - USD ($) shares in Thousands, $ in Millions
0                                           Net sales
1                                       Cost of sales
2                                        Gross margin
3                                 Operating expenses:
4                            Research and development
5                 Selling, general and administrative
6                            Total operating expenses
7                                    Operating income
8                         Other income/(expense), net
9            Income before provision for income taxes
10                         Provision for income taxes
11                                         Net income
12                                Earnings per share:
13                       Basic (in dollars per share)
14                     Diluted (in dollars per share)
15       Shares used in computing earnings per share:
16                                  Basic (in shares)
17                                Diluted (in shares)
18                                           Products
19                                          Net sales
20                                      Cost of sales
21                                           Services
22                                          Net sales
23                                      Cost of sales

   12 Months Ended
     Sep. 25, 2021 Sep. 26, 2020 Sep. 28, 2019
0        365817.00     274515.00     260174.00
1        212981.00     169559.00     161782.00
2        152836.00     104956.00      98392.00
3              NaN           NaN           NaN
4         21914.00      18752.00      16217.00
5         21973.00      19916.00      18245.00
6         43887.00      38668.00      34462.00
7        108949.00      66288.00      63930.00
8           258.00        803.00       1807.00
9        109207.00      67091.00      65737.00
10        14527.00       9680.00      10481.00
11        94680.00      57411.00      55256.00
12             NaN           NaN           NaN
13            5.67          3.31          2.99
14            5.61          3.28          2.97
15             NaN           NaN           NaN
16     16701272.00   17352119.00   18471336.00
17     16864919.00   17528214.00   18595651.00
18             NaN           NaN           NaN
19       297392.00     220747.00     213883.00
20       192266.00     151286.00     144996.00
21             NaN           NaN           NaN
22        68425.00      53768.00      46291.00
23        20715.00      18273.00      16786.00

### Part 2 - Income Statement for MSFT

In [58]:
# Use the 'requests' library to download the necessary webpage from thge SEC server. 
import requests

# This header information MUST be submitted with your URL reuqest to the SEC website.
# If this header is not included or is incorrect, then you will not be abkle to download the data (it will be rejected by the SEC server).

headers = {'Host': 'www.sec.gov', 'Connection': 'close',
         'Accept': 'application/json, text/javascript, */*; q=0.01', 'X-Requested-With': 'XMLHttpRequest',
         'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36',
         }

URL2 = 'https://www.sec.gov/Archives/edgar/data/789019/000156459021039151/R2.htm'

# Get data from webpage
# include the HEADER or you might get denied

page2 = requests.get(URL2, headers=headers)

In [59]:
## Use 'Beautiful Soup' Library to implement an 'html/xml parser'
from bs4 import BeautifulSoup

soup2 = BeautifulSoup(page2.content, 'lxml')

In [60]:
# Find the tag that identify tables
Table2 = soup2.find_all('table')

# Use 'read_html' request to directly get the table

MSFT = pd.read_html(str(Table2))[0]
MSFT

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions  \
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                     Cost of revenue
2                                        Gross margin
3                            Research and development
4                                 Sales and marketing
5                          General and administrative
6                                    Operating income
7                                   Other income, net
8                          Income before income taxes
9                          Provision for income taxes
10                                         Net income
11                                Earnings per share:
12                                              Basic
13                                            Diluted
14               Weighted average shares outstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                    Cost of revenue
20                                  Service and Other
21                                            Revenue
22                                    Cost of revenue

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0        $ 168,088     $ 143,015     $ 125,843
1            52232         46078         42910
2           115856         96937         82933
3            20716         19269         16876
4            20117         19598         18213
5             5107          5111          4885
6            69916         52959         42959
7             1186            77           729
8            71102         53036         43688
9             9831          8755          4448
10        $ 61,271      $ 44,281      $ 39,240
11             NaN           NaN           NaN
12          $ 8.12        $ 5.82        $ 5.11
13          $ 8.05        $ 5.76        $ 5.06
14             NaN           NaN           NaN
15            7547          7610          7673
16            7608          7683          7753
17             NaN           NaN           NaN
18        $ 71,074      $ 68,041      $ 66,069
19           18219         16017         16273
20             NaN           NaN           NaN
21           97014         74974         59774
22        $ 34,013      $ 30,061      $ 26,637

In [61]:
# Clean the dollar sign, comma sign and space.
check = MSFT.columns

MSFT[check] = MSFT[check].replace({'\$':''}, regex = True)
MSFT[check] = MSFT[check].replace({'\,':''}, regex = True)
MSFT[check] = MSFT[check].replace({' ':''}, regex = True)

MSFT

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions  \
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                       Costofrevenue
2                                         Grossmargin
3                              Researchanddevelopment
4                                   Salesandmarketing
5                            Generalandadministrative
6                                     Operatingincome
7                                      Otherincomenet
8                             Incomebeforeincometaxes
9                             Provisionforincometaxes
10                                          Netincome
11                                  Earningspershare:
12                                              Basic
13                                            Diluted
14                  Weightedaveragesharesoutstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                      Costofrevenue
20                                    ServiceandOther
21                                            Revenue
22                                      Costofrevenue

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0           168088        143015        125843
1            52232         46078         42910
2           115856         96937         82933
3            20716         19269         16876
4            20117         19598         18213
5             5107          5111          4885
6            69916         52959         42959
7             1186            77           729
8            71102         53036         43688
9             9831          8755          4448
10           61271         44281         39240
11             NaN           NaN           NaN
12            8.12          5.82          5.11
13            8.05          5.76          5.06
14             NaN           NaN           NaN
15            7547          7610          7673
16            7608          7683          7753
17             NaN           NaN           NaN
18           71074         68041         66069
19           18219         16017         16273
20             NaN           NaN           NaN
21           97014         74974         59774
22           34013         30061         26637

In [62]:
# Create another dataframe to transfer numbers into float - step 1
attempt1 = pd.DataFrame(MSFT.iloc[:,0])
attempt1

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                       Costofrevenue
2                                         Grossmargin
3                              Researchanddevelopment
4                                   Salesandmarketing
5                            Generalandadministrative
6                                     Operatingincome
7                                      Otherincomenet
8                             Incomebeforeincometaxes
9                             Provisionforincometaxes
10                                          Netincome
11                                  Earningspershare:
12                                              Basic
13                                            Diluted
14                  Weightedaveragesharesoutstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                      Costofrevenue
20                                    ServiceandOther
21                                            Revenue
22                                      Costofrevenue

In [63]:
# Create another dataframe to transfer numbers into float - step 2
attempt2 = MSFT.iloc[:,1:4].replace(',', '').astype(float)
attempt2

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0        168088.00     143015.00     125843.00
1         52232.00      46078.00      42910.00
2        115856.00      96937.00      82933.00
3         20716.00      19269.00      16876.00
4         20117.00      19598.00      18213.00
5          5107.00       5111.00       4885.00
6         69916.00      52959.00      42959.00
7          1186.00         77.00        729.00
8         71102.00      53036.00      43688.00
9          9831.00       8755.00       4448.00
10        61271.00      44281.00      39240.00
11             NaN           NaN           NaN
12            8.12          5.82          5.11
13            8.05          5.76          5.06
14             NaN           NaN           NaN
15         7547.00       7610.00       7673.00
16         7608.00       7683.00       7753.00
17             NaN           NaN           NaN
18        71074.00      68041.00      66069.00
19        18219.00      16017.00      16273.00
20             NaN           NaN           NaN
21        97014.00      74974.00      59774.00
22        34013.00      30061.00      26637.00

In [64]:
MSFT_final = attempt1.join(attempt2)
MSFT_final

   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions  \
   INCOME STATEMENTS - USD ($) shares in Millions, $ in Millions
0                                             Revenue
1                                       Costofrevenue
2                                         Grossmargin
3                              Researchanddevelopment
4                                   Salesandmarketing
5                            Generalandadministrative
6                                     Operatingincome
7                                      Otherincomenet
8                             Incomebeforeincometaxes
9                             Provisionforincometaxes
10                                          Netincome
11                                  Earningspershare:
12                                              Basic
13                                            Diluted
14                  Weightedaveragesharesoutstanding:
15                                              Basic
16                                            Diluted
17                                            Product
18                                            Revenue
19                                      Costofrevenue
20                                    ServiceandOther
21                                            Revenue
22                                      Costofrevenue

   12 Months Ended
     Jun. 30, 2021 Jun. 30, 2020 Jun. 30, 2019
0        168088.00     143015.00     125843.00
1         52232.00      46078.00      42910.00
2        115856.00      96937.00      82933.00
3         20716.00      19269.00      16876.00
4         20117.00      19598.00      18213.00
5          5107.00       5111.00       4885.00
6         69916.00      52959.00      42959.00
7          1186.00         77.00        729.00
8         71102.00      53036.00      43688.00
9          9831.00       8755.00       4448.00
10        61271.00      44281.00      39240.00
11             NaN           NaN           NaN
12            8.12          5.82          5.11
13            8.05          5.76          5.06
14             NaN           NaN           NaN
15         7547.00       7610.00       7673.00
16         7608.00       7683.00       7753.00
17             NaN           NaN           NaN
18        71074.00      68041.00      66069.00
19        18219.00      16017.00      16273.00
20             NaN           NaN           NaN
21        97014.00      74974.00      59774.00
22        34013.00      30061.00      26637.00